
    <!DOCTYPE html>
<html lang="en">
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#convert2Cal').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/create_calendar_in_background',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>VNUSchedule</title>
    <link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/mainPage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <section id="header">
        <div class="imageHeader">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="">
        </div>
        <div class="h1Header">
            <h1>Cổng thông tin đào tạo Đại học</h1>
        </div>
    </section>
    <button id="convert2Img">Save as PNG</button>
    <button id="convert2Cal">Save to Google Calendar</button>
    <section>
        <div id="timeTable">
    
            <table>
                <tr id="tableHeader">
                <th id="sequenceNumber">Tiết</th>
                <th id="timePeriod">Thời gian học</th>
                <th>Thứ 2</th>
                <th>Thứ 3</th>
                <th>Thứ 4</th>
                <th>Thứ 5</th>
                <th>Thứ 6</th>
                <th>Thứ 7</th>
            </tr>
    
            <tr>
                <td class="sequenceNumber">1</td>
                <td class="timePeriod">7h - 7h50</td>
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">2</td>
                <td class="timePeriod">8h - 8h50</td>
        <td></td><td></td><td></td><td></td><td></td><td rowspan="2">Pháp luật và đạo đức nghề nghiệp trong CNTT</td></tr>
            <tr>
                <td class="sequenceNumber">3</td>
                <td class="timePeriod">9h - 9h50</td>
        <td></td><td></td><td rowspan="2">Bóng chuyền 1</td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">4</td>
                <td class="timePeriod">10h - 10h50</td>
        <td></td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">5</td>
                <td class="timePeriod">11h - 11h50</td>
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">6</td>
                <td class="timePeriod">12h - 12h50</td>
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">7</td>
                <td class="timePeriod">13h - 13h50</td>
        <td rowspan="4">Nguyên lý hệ điều hành</td><td></td><td rowspan="3">Công nghệ phần mềm</td><td></td><td></td><td rowspan="2">Kinh tế chính trị Mác-Lênin</td></tr>
            <tr>
                <td class="sequenceNumber">8</td>
                <td class="timePeriod">14h - 14h50</td>
        <td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">9</td>
                <td class="timePeriod">15h - 15h50</td>
        <td></td><td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">10</td>
                <td class="timePeriod">16h - 16h50</td>
        <td></td><td rowspan="3">Trí tuệ nhân tạo</td><td></td><td rowspan="3">Mạng máy tính</td><td></td></tr>
            <tr>
                <td class="sequenceNumber">11</td>
                <td class="timePeriod">17h - 17h50</td>
        <td></td><td></td><td></td><td></td></tr>
            <tr>
                <td class="sequenceNumber">12</td>
                <td class="timePeriod">18h - 18h50</td>
        <td></td><td></td><td></td><td></td></tr></table> </div> </section>
    
    <script src="{{ url_for('static', filename='javascript/html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/mainPage.js') }}"></script>
    </body>
</html>
    