
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>VNUSchedule</title>
    <link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        #timeTable {
            margin-top: 20px;
            align-items: center;
        }
            
        table {
            margin-left: auto; 
            margin-right: auto;
        }
        
        table, tr, td {
            border: 1px solid black;
        }

        td {
            width: 16.6%;
            height: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <section id="header">
        <div class="imageHeader">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="">
        </div>
        <div class="h1Header">
            <h1>Cổng thông tin đào tạo Đại học</h1>
        </div>
    </section>
    <section id="timeTable">
    <table><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td rowspan="2">Pháp luật</td></tr><tr><td></td><td></td><td rowspan="2">Bóng chuyền 1</td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr><td rowspan="4">Nguyên lý hệ điều hành</td><td></td><td rowspan="3">Công nghệ phần mềm</td><td></td><td></td><td rowspan="2">Kinh tế</td></tr><tr><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td rowspan="3">Trí tuệ nhân tạo</td><td></td><td rowspan="3">Mạng máy tính</td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr></table> </section>
    </body>
</html>
    