
    <!DOCTYPE html>
<html lang="vi">
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>VNUSchedule</title>
    <link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/mainPage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <section id="header">
        <div class="imageHeader">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="">
        </div>
        <div class="h1Header">
            <h1>Cổng thông tin đào tạo Đại học</h1>
        </div>
        <div id="logout">
            <form action="/dang-nhap">
                <button type="submit" id="logout_button">Đăng xuất</button>
            </form>
        </div>
    </section>
    <button id="convert2Img" onclick="downloadTimeTable()" "style="visibility: {img};">Lưu hình ảnh</button>
    
    <form action="/authorize" method="post" target="_blank">
        <button type="submit" id="convert2Cal" style="visibility: {cal};">Lưu vào<br>Google Calendar </button>
    </form>
    <section>
        <div id="timeTable">
            <table>
                <tr id="tableHeader">
                    <th id="sequenceNumber">Tiết</th>
                    <th id="timePeriod">Thời gian học</th>
                    <th>Thứ 2</th>
                    <th>Thứ 3</th>
                    <th>Thứ 4</th>
                    <th>Thứ 5</th>
                    <th>Thứ 6</th>
                    <th>Thứ 7</th>
                </tr>
                <tr>
                    <td class="sequenceNumber">1</td>
                    <td class="timePeriod">7h - 7h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="5" style="background-color: #FF6363">Vật lý đại cương 2<br>EPN1096 50<br>307-GĐ2</td>
                </tr>
                <tr>
                    <td class="sequenceNumber">2</td>
                    <td class="timePeriod">8h - 8h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">3</td>
                    <td class="timePeriod">9h - 9h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">4</td>
                    <td class="timePeriod">10h - 10h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">5</td>
                    <td class="timePeriod">11h - 11h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">6</td>
                    <td class="timePeriod">12h - 12h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">7</td>
                    <td class="timePeriod">13h - 13h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="5" style="background-color: #FFAB76">Tư tưởng Hồ Chí Minh<br>POL1001 50<br>308-GĐ2</td>
                    <td rowspan="5" style="background-color: #FFFDA2">Lịch sử Đảng Cộng sản Việt Nam<br>HIS1001 51<br>308-GĐ2</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">8</td>
                    <td class="timePeriod">14h - 14h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">9</td>
                    <td class="timePeriod">15h - 15h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">10</td>
                    <td class="timePeriod">16h - 16h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">11</td>
                    <td class="timePeriod">17h - 17h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">12</td>
                    <td class="timePeriod">18h - 18h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">13</td>
                    <td class="timePeriod">19h - 19h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="sequenceNumber">14</td>
                    <td class="timePeriod">20h - 20h50</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table> 
            <div id='emptySpace'></div>
        </div> 
    </section>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
    <script src="{{ url_for('static', filename='javascript/mainPage.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </body>
</html>
    